/* public/css/custom.css */
body {
    background-color: #f0f0f0;
}
main>.container {
    min-height: calc(100vh - 2*56px);
}
[aria-label="Pagination Navigation"] svg {
    max-width: 20px;
}
[aria-label="Pagination Navigation"] {
    min-height: 125px;
}
[aria-label="Pagination Navigation"] > * {
    margin-bottom: 1rem;
}
[aria-label="Pagination Navigation"] a {
    text-decoration: none;
}
[aria-label="Pagination Navigation"] .relative>a.px-2 {
    padding-left: 0!important;
    padding-right: 0!important;
}

.pagination .page-item .page-link {
    color: #fff; /* Change text color */
    background-color: #007bff; /* Change background color */
    border-color: #007bff; /* Change border color */

}

.pagination .page-item.active .page-link {
    background-color: #0056b3; /* Change active page background color */
    border-color: #0056b3; /* Change active page border color */
}

.pagination .page-item.disabled .page-link {
    color: #6c757d; /* Change disabled page text color */
    background-color: #fff; /* Change disabled page background color */
    border-color: #ddd; /* Change disabled page border color */
}


